// out: ../css/main.css
@import url('https://fonts.googleapis.com/css?family=Economica|Open+Sans:300,400');
html, body 
{
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font: 300 14px/20px 'Open Sans', 'sans-serif';
}
 h2, h4, h5, h6, ul, li,p, span,a, div, input, textarea {
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: normal;
 }
  .fontel{
      color: #fdad00;
    }
  .logo-fut{
      transform: translate(0.3em, -8em);

    }
  .marginbot{
      margin-bottom: 60px;
    }
  .whp{
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 40px;
    }
 .wh{
    color: #ffffff;
    }
 .ore{
    background: #efc05d;
    flex-wrap: wrap;
    }
section{
   background:#e8edf2;
   padding: 10em;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 50px;
      }
  h4{
    font-size: 1.4em;
    color: rgb(153, 142, 142);
    margin: 1.5em;
    }

  h5{
    font-size: 4em;
    color: #efc05d;
    text-align: center;
    padding: 20px;
 
  }
  h6{
    font-size: 1.2em;
    color:#838a93 ;
    margin: 1.5em;
    }

 .wrap{
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   
    } 
 
 
 .btn-elstep {
   margin-top: 80px;
   margin-bottom: 70px;
   text-align: center;
 }
 .btnaelstep{
    padding: 18px 60px;
    background: #efc05d;
    color: rgb(252, 253, 253);
    border-radius: 5px;
 }
  .headp{
    color: rgb(253, 250, 250);
    text-align: center;
    margin-bottom: 90px;
    }
   
  .headp1{
      color: rgb(76, 71, 71);
      margin-top:1em;
      text-align:center;
      margin-bottom: 70px;
    }

  h2{
    font-size: 3em;
    color: rgb(112, 105, 105);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
 }
  h3{
    font-size: 1.5em;
 
    }
  .img-head{
      font-size: 2em;
           }

header{

  img.logo{
    transform: translate(-10em, -1em);
    }
  }
    nav{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      ul{
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        flex-wrap: wrap;
        justify-content: center;

      
    li{
      margin: 20px;
        a{
          color: rgb(117, 111, 111);
          font-weight: 800;
          &:hover{
            background:  rgb(241, 191, 25); 
            padding: 10px;
            color: white;
            transition: all .3s ease-in-out;
        }
      }
    }
  }
}

main{
  .contpng{
    width: 400px;
    transform:translate(-2em, -4em);
    &>img{

    }
  }
  .contpng1{
    transform:translate(0em, -24em);
  }
  .bekgr-wrap{
    text-align: center;
    background: rgb(103, 154, 248);
    height: 45em;
    flex-direction: column;
    margin-bottom: 130px;

    h1{
      font-size: 3em;
      text-align: center;
      color: rgb(252, 246, 246);
      text-transform: uppercase;
      font-weight:500;
      padding: 50px 0px 10px;
    }
  
    .centr-info{
      color: #b3a5a5;
      justify-content: center;
  
    }
  
  .btn-head{ 
      margin-left: 15px;
      margin-top: 0.9em;
     
    a{
      padding: 0.8em 4em;
      background: floralwhite;
      background: rgb(241, 182, 19);
      color: rgb(253, 245, 245); 
      border-radius: 5px;
      }   
    } 
   
    .ikon{
      text-align: center;
      line-height: 347%;
      .laibl{
        background: #ffffff;
        padding: 11.7px;
        border-right: none;
        transform: translate(4px);
        
      }
    }
    
  .input-groop{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:125px;
 
     
    input[type="text"] {
      font-size: 16px; 
      outline: none;
      color: rgb(59, 54, 54);
      height:1.5em;
      padding: 8px;
      width: 14.3em;
      margin-bottom: 20px;
      border-left: none;
      margin-right: 20px;
        
      }
    }
  }
}

.contwrap{
  display: flex;
  flex-direction: row;
    }
  .contbox{
      width: 42%;
      flex-wrap: wrap;
      background: #ffffff;
      margin-left: 50px;
    .box{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top:20px; 
    

      .left-icon{
        margin-top: 20px;
      img{
        transform: translate(-63px, 60px);
      }
    }
    .box-infa{

      p{
        width: 100%;
    }
  }

    p{
      width: 100%; 
      color: rgb(85, 79, 79);
      text-align: left;
      line-height: 170%;

    }
  }
}

.contboxpng{
    flex-direction: row;
    margin-top: 10em;
    width: 100%s;
    display: flex;  
    flex-wrap: wrap;
    margin-bottom: 70px;
    
 
  .barpn1{
    width: 50%;
    img{
      width: 100%;
      display: block;
    }
  }
  .barpn2{
    
    width: 50%;
    background:#efc05d ;
    
    
    img{

      display: flex;
      }
    }
  .texbox{
      text-align: left;
      justify-content: center;
       margin: 50px 70px 20px 20px;
      display: flex;
      flex-wrap: wrap;
    .btn-headhepy{
      padding: 18px 60px;
      color: rgb(244, 253, 253);
      border-radius: 5px;
      background:#efc05d ;
      border: 1px solid rgb(63, 61, 61);
      margin-top: 70px;
     margin-right: 8px;

  
        }
    .pnh3{
      color: #ffffff;
   
      }
      p{
        color: #ffffff;
        line-height:200%;
      }
    }
  }
  .cont-box2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
      }
    .box2{
      border: 1px solid rgb(236, 234, 234);
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-left: 20px;
      justify-content: center;
      text-align: center;
      direction: column;
      width: 330px; 
      background: rgb(245, 238, 238);
      margin-bottom: 20px;
      .btnael{
        padding: 20px 60px;
        background: #fdad00;
        color: rgb(239, 245, 245);
        border-radius: 5px;
        }
      
      &:hover{
        background: rgb(43, 126, 252);
        opacity: 0.6;
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
      p{
        color: rgb(251, 255, 252); 
      }

      h5{
      color: rgb(248, 242, 242);
     
      }
      h4{
      color: rgb(248, 242, 242);
      }

    .btnael{
      padding: 20px 60px;
      background: #fdad00;
      color: rgb(239, 245, 245);
      border-radius: 5px;
          }
      h6{
        color: rgb(248, 242, 242); 
        }
      }
    .btn-el{
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 50px;
        }

    p{
      font-size: 1.2em;
      color: rgb(128, 114, 114);
      text-transform: uppercase;
      padding: 1em;
      border-top: 1px solid gainsboro;
      margin: 0 auto;
      flex-grow: 1;
  }
}
.cont-step{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  .cont-ivon{
    margin-bottom: 20px;
    text-align: center;
        }
  .row{
    transform: translate(80%,-32%);

    }
  .down-arrow{
    transform: translate(80%,320%);
    }
  .box-step{
    margin-left: 40px;
    display: flex;   
    flex-wrap: wrap;  
    flex-direction: column;

    h3{
        text-align: center;
   
        }
    p{
      width: 17em;
      color: rgb(141, 127, 127);
      line-height: 170%;
      }
    }
  }

.cont-happy{
  margin-top: 30px;
 

  .heppy-box{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
     overflow: hidden;
     flex-wrap: wrap;
  
  .hep-minibox{
    background: #ebeeee;
    display: flex;
    margin-left: 20px;
   

    .hepp-imgs{
      transform: translate(1em,3em);
          }
        .parag{
          display: flex;
          }
    p{
      line-height: 160%;
      color: rgb(109, 100, 100);
      margin:3em 2em;
      width: 300px;

      }
    }
  }     
}
.maps{
  background: url('../img/Map22.png');
  display: flex;
  flex-direction: column; 
  justify-content: center;
  min-height: 400px;

  .btn-head2{ 
      margin-left: 10px;
      margin-top: 0.8em;
    .afut{
      padding: 0.8em 5em;
      background: floralwhite;
      background: rgb(241, 182, 19);
      color: rgb(253, 245, 245);
      border-radius: 5px;
        }   
      } 
  .input-groop{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;


    input[type="text"] {
      font-size: 16px; 
      outline: none;
      color: rgb(59, 54, 54);
      height:1.4em;
      padding: 8px;
      width: 16.3em;
      margin-bottom: 20px;
      border: 1px solid #ccc; 
      border-left: none;

      }
      .ikon{
        text-align: center;
        line-height: 347%;
        align-items: stretch;
        .laibl{
          background: #ffffff;
          padding: 10px 10px 9px 11px;
          border: 1px solid #ccc;
          border-right: none;
     
        }
      } 
    }
    .cont-shar{
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      margin-right: 30px;
        }
    .shar{
      position: relative;
      flex-direction: column; 
      text-align: center;  

      .conta{
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: translate(0em, -17em);
      
        a{
          margin: .5em;
          color: #e2e6eb;
          span.fontel{
            color: #fdad00;
          }
        }
      }
   }
}
footer{
  margin-top: 39px;
  min-height: 70px;
  background: rgb(26, 138, 243);
}
@media screen and (max-width:1166px){
 .row{
   display: none;
 }
 
  header{
    img.logo{
   transform: translate(-2em, -1em);
   }
 }
}
@media screen and (max-width:1000px){
  .wrap{

  }
  .contboxpng{
        margin-top: 5em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 63px;
    .barpn1 {
      width: 100%;
      height: 50%;
      img{
        height: 91%;
      
      }
}
.barpn2{
  width: 100%;
  height: 50%;
  padding: 20px;
}
.texbox {
  text-align: left;
  justify-content: center;
  margin: -21px 5px 9px 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.texbox p {
font-size: 15px;
padding: 15px;
}
    img{
      width: 70%;
    }

}


  .centr-info{
    color: #b3a5a5;
    justify-content: center;
    margin-top: 30px;
  }
  header{
    img.logo{
   transform: translate(-4em, -1em);
   }
 }

nav{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  ul{
    display: flex;
    flex-direction: row;
    margin: 2em;
    flex-wrap: wrap;
    justify-content: center;
  li{
    a{
      padding: 10px;
      color: rgb(117, 111, 111);

    &:hover{
      background:  rgb(241, 191, 25); 
      color: white;
      transition: all .3s ease-in-out;
          } 
        }
      }
    }
  }
main{
  .contpng{
    max-height: 388px;
    justify-content: center;
    transform: translate(1em, -4em);

    img{
      max-width: 400px;
    }
  }
  .contpng1{
    img{
      width: 275px;
      height: 257px;
      transform: translate(0em, 0em);
    }
  }
  .bekgr-wrap{
    .input-groop{
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom:185px;
      align-items: stretch;
 
    input[type="text"] {
      font-size: 13px; 
      outline: none;
      color: rgb(59, 54, 54);
      height:1.4em;
      padding:10px;
      width: 200px;
      border: 1px solid #ccc; 
      border-left: none;
            }
        .laibl{
          padding: 9px 10px 10px 11px;
          border: 1px solid #ccc;
          border-right: none;
            }
        }
    h1{
      font-size: 2em;
    }
    .let-ikon{
      text-align: center;
      line-height: 347%;
      }
    } 
    
  .cont-happy{  
    
  .heppy-box{
    display: flex;
    flex-wrap: wrap;  
    .hep-minibox{
   
    margin-bottom: 20px;
    min-height: 100px;
    flex-direction: column;

    p{
  
       margin: 15px;
       font-size: 15px;
       flex-grow: 1;
    }
    .hepp-imgs{
    transform: translate(7em,0em);
      }
    }
  }
}


  
    }
  }
  @media screen and (max-width:740px){
main{
    .bekgr-wrap{
    height: 56em;
  }
  .btn-head2{
    margin-right: 29px;
    margin-top: 0.9em;
    a.afut{
    padding: 1.8em 5em;
    background: floralwhite;
    background: #f1b613;
    color: #fdf5f5;
    border-radius: 5px;
    }
  }
}
    nav{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
     
      ul{
        display: flex;
        flex-direction: row;
        margin: 2em;
        flex-wrap: wrap;
        justify-content: center;
        
        img.logo{
          transform: translate(0em, -1em);
            }
      
    li{
      margin: 6px;
        a{
    
          color: rgb(117, 111, 111);
          font-weight: 800;
          &:hover{
          background:  rgb(241, 191, 25); 
          color: white;
          transition: all .3s ease-in-out;
          }
        }
      }
    }
  }

  .contpng{
    max-height: 336px;
    justify-content: center;
    transform: translate(-1em, 3em);

    img{
      max-width: 379px;
    }
  }
  .contpng1{
    img{
      width: 260px;
      height: 268px;
      transform: translate(0em, -1em);
    }
  }

  .contwrap{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
      }
    .contbox{
        width: 50%;
        flex-wrap: wrap;
        background: #ffffff;
      .box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top:20px; 
      
        .left-icon{
          margin-top: 20px;
        img{
         transform:translate(-53px, 58px);
        }
      }
      .box-infa{
        
        p{
          width: 100%;
      }
    }
  
      p{
        width: 100%; 
        color: rgb(85, 79, 79);
        text-align: left;
        line-height: 170%;
  
      }
    }
  }
  
  
  .maps{
     .input-groop{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;


    input[type="text"] {
      font-size: 16px; 
      outline: none;
      color: rgb(59, 54, 54);
      height:1.4em;
      padding: 8px;
      width: 16.3em;
      margin-bottom: 20px;
      border: 1px solid #ccc; 
      border-left: none;
      flex-direction: column;
      margin-right: 10px;

      }
      .ikon{
        text-align: center;
        line-height: 347%;
        align-items: stretch;
        .laibl{
          background: #ffffff;
          padding: 10px 10px 9px 11px;
          border: 1px solid #ccc;
          border-right: none;
     

        }
      } 
    } 
  }
}